/*input*/

//newsletter input
input {
    font-family: $raleway;
    width: 70%;
    height: $x-large;
}

//input placeholder style
input::placeholder {
    background-color: $white;
    color: $smoky-black;
}