/*navigation*/

//container nav
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //collapsable button
    &__collapsable {
        display: block;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 0 auto;
        span {
            display: block;
            width: 40px;
            height: 4px;
            background: $smoky-black;
            margin-top: 7px;
        }
    }
}

//navbar brand
.navbar-brand {
    background-color: $smoky-black;
    color: $white;
    font-family: $old-standard-tt;
    font-size: $x-large;
    font-weight: $bold;
    padding: 30px 20px;
    transform: rotate(-90deg);
}

//input
#navbar-menu {
    display: none;
    //navbar list
    &__link {
        display: none;
        text-align: center;
        padding: 10px 0;
        li a {
            display: block;
            font-family: $raleway;
            font-size: $medium;
            color: $smoky-black;
            font-weight: $bold;
            padding: 10px 0;
            text-decoration: none;
        }
        li {
            list-style: none;
        }
    }
    &:checked+#navbar-menu__link {
        display: block;
    }
}

//cursor style
label {
    cursor: pointer;
}

//navbar set to min 480px to expand 
@media only screen and (min-width: 480px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        //collapsable button
        &__collapsable {
            display: none;
            width: 40px;
            height: 40px;
            padding: 10px;
            margin: 0 auto;
            span {
                display: block;
                width: 40px;
                height: 4px;
                background: $smoky-black;
                margin-top: 7px;
            }
        }
    }
    //navbar brand
    .navbar-brand {
        transform: rotate(0deg);
    }
    //navbar list
    #navbar-menu {
        display: none;
        &__link {
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            li a {
                display: flex;
                font-family: $raleway;
                font-size: $medium;
                color: $smoky-black;
                font-weight: $bold;
                padding: 10px 20px;
                text-decoration: none;
            }
            li {
                list-style: none;
            }
        }
        &:checked+#navbar-menu__link {
            display: block;
        }
    }
}