/*main*/

//main container
.main-container {
    width: 100%;
}

//image
.main-img {
    position: absolute;
    right: 0;
    width: 56%;
    min-width: 400px;
    max-height: 630px;
}

//callout
.main-callToAction {
    position: relative;
    width: 45%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

// main-callout_container
.main-callToAction_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    h1 {
        font-family: $old-standard-tt;
        font-size: $xxx-large;
        font-weight: $bold;
        text-transform: uppercase;
        color: $smoky-black;
    }
    p {
        font-family: $raleway;
        font-size: $large;
        font-weight: $regular;
        color: $granite-gray;
        padding: 5% 20% 5% 0;
    }
}

//form
.main-form {
    position: relative;
    padding: 10%;
    background-color: $smoky-black;
    h4 {
        font-family: $old-standard-tt;
        font-size: $xx-large;
        font-weight: $regular;
        color: $white;
        padding-bottom: 10px;
    }
    label {
        font-family: $old-standard-tt;
        font-size: $medium;
        font-weight: $regular;
        color: $white;
    }
}